* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gotham";
}
* img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

header {
  max-width: 1366px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 1.5rem 6.25rem;
  gap: 2rem;
}
header .logo-container {
  width: 5.25rem;
  height: 5.25rem;
}
header .nav-bar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
  gap: 1rem;
}
header .nav-bar .social-media {
  display: flex;
  gap: 1rem;
}
header .nav-bar .social-media .social-media-icon {
  height: 1.25rem;
}
header .nav-bar .menu-title {
  display: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.3rem;
  font-weight: bold;
  color: #262626;
}
header .nav-bar .menu-mobile {
  display: none;
}
header .nav-bar .menu {
  display: flex;
  gap: 2rem;
}
header .nav-bar .menu .menu-button {
  flex-grow: 1;
  text-decoration: none;
  font-weight: bold;
  color: #262626;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

main .main-section {
  display: flex;
  max-width: 1366px;
  margin: auto;
}
main .main-section .blue-section {
  width: 60%;
  position: relative;
}
main .main-section .blue-section .background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
main .main-section .blue-section .background-image img {
  object-fit: cover;
}
main .main-section .blue-section .info {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
main .main-section .blue-section .info .title {
  font-size: 3.2rem;
  font-weight: bold;
  color: #cccccc;
  text-transform: uppercase;
}
main .main-section .blue-section .info .subtitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
main .main-section .blue-section .info p {
  color: white;
  line-height: 1.5rem;
}
main .main-section .form-container {
  width: 40%;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
main .main-section .form-container .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F10A0A;
  text-transform: uppercase;
}
main .main-section .form-container p {
  text-shadow: 0 2px 4px #aaaaaa;
}
main .main-section .form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
main .main-section .form-container form input[type=text], main .main-section .form-container form input[type=date], main .main-section .form-container form textarea, main .main-section .form-container form select {
  border: 1px solid black;
  border-radius: 0;
  padding: 0.8rem;
  font-size: 0.8rem;
  width: 100%;
}
main .main-section .form-container form textarea {
  height: 8rem;
}
main .main-section .form-container form .terms-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
}
main .main-section .form-container form .round-button {
  width: fit-content;
  font-weight: lighter;
  padding: 0.5rem 2rem;
  border-radius: 200px;
  background-color: #F10A0A;
  border: 2px solid #F10A0A;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
main .main-section .form-container form .round-button:hover {
  background: none;
  color: #F10A0A;
  transition: 0.5s;
}
main .second-section {
  background-color: #f2f5ff;
  position: relative;
  padding: 3rem 0;
  z-index: 0;
}
main .second-section .content {
  position: relative;
  max-width: 1366px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  z-index: 2;
  padding: 0 5rem;
}
main .second-section .content .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  z-index: 2;
  padding: 1.25rem;
}
main .second-section .content .info .title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #F10A0A;
  text-transform: uppercase;
}
main .second-section .content .info p {
  line-height: 1.7rem;
  font-size: 1.125rem;
  color: #333333;
}
main .second-section .content .side-image {
  width: 50%;
  z-index: 2;
}
main .second-section .content .background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}
main .second-section .content .background-image img {
  object-fit: cover;
}
main .third-section {
  background-color: #3357F8;
  position: relative;
  z-index: 0;
}
main .third-section .content {
  position: relative;
  max-width: 1366px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  z-index: 2;
  padding: 0 5rem;
  padding-top: 3rem;
}
main .third-section .content .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  z-index: 2;
  padding: 1.25rem;
}
main .third-section .content .info .title {
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 2px 4px #303030;
}
main .third-section .content .info p {
  line-height: 1.7rem;
  font-size: 1.125rem;
  color: white;
  text-shadow: 0 2px 4px #303030;
}
main .third-section .content .info .round-button {
  width: fit-content;
  font-weight: lighter;
  padding: 0.5rem 2rem;
  border-radius: 200px;
  background-color: #F10A0A;
  border: 2px solid #F10A0A;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 0 2px 4px #303030;
  text-transform: uppercase;
}
main .third-section .content .info .round-button:hover {
  background: none;
  color: #F10A0A;
  transition: 0.5s;
}
main .third-section .content .side-video {
  width: 50%;
  z-index: 2;
  margin-bottom: -2.5rem;
}
main .third-section .content .side-video video {
  background: black;
}
main .third-section .content .background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}
main .third-section .content .background-image img {
  object-fit: cover;
}
main .fourth-section {
  position: relative;
  padding: 3rem 0;
  margin-top: 2.5rem;
  z-index: 0;
}
main .fourth-section .content {
  position: relative;
  max-width: 1366px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  z-index: 2;
  padding: 0 5rem;
}
main .fourth-section .content .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  z-index: 2;
  padding: 1.25rem;
}
main .fourth-section .content .info .title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #F10A0A;
  text-transform: uppercase;
}
main .fourth-section .content .info p {
  line-height: 1.7rem;
  font-size: 1.125rem;
}
main .fourth-section .content .side-image {
  width: 50%;
  z-index: 2;
}
main .fourth-section .content .background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}
main .fourth-section .content .background-image img {
  object-fit: cover;
}
main .fifth-section {
  background-color: #3357F8;
}
main .fifth-section .content {
  max-width: 1366px;
  margin: auto;
  padding: 3.1rem 8.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .fifth-section .content .data-section {
  width: 348px;
  height: 308px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}
main .fifth-section .content .data-section .icon {
  height: 5.2rem;
}
main .fifth-section .content .data-section .title {
  font-size: 3.5rem;
  font-weight: bold;
}
main .fifth-section .content .data-section p {
  text-align: center;
  font-size: 1.125rem;
  color: white;
}
main .fifth-section .content .data-section:hover .title {
  text-shadow: 0 2px 4px #303030;
}
main .fifth-section .content .data-section:hover p {
  text-shadow: 0 2px 4px #303030;
}
main .sixth-section {
  position: relative;
  padding: 3rem 0;
  z-index: 0;
  background-color: #e0e0e0;
}
main .sixth-section .content {
  position: relative;
  max-width: 1366px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  z-index: 2;
  padding: 0 5rem;
}
main .sixth-section .content .info-card {
  width: 370px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: white;
}
main .sixth-section .content .info-card .image-card {
  max-height: 300px;
  width: 100%;
}
main .sixth-section .content .info-card .info {
  padding: 3rem 1.5rem;
  gap: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
main .sixth-section .content .info-card .info .title {
  width: 100%;
  font-size: 1.75rem;
  font-weight: bold;
  color: #4f4f4f;
  text-transform: uppercase;
}
main .sixth-section .content .info-card .info p {
  line-height: 1.7rem;
  font-size: 0.85rem;
  color: #4f4f4f;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  background: #fff;
}
main .sixth-section .content .info-card .info .round-button {
  font-weight: lighter;
  padding: 0.5rem 2rem;
  border-radius: 200px;
  background-color: #F10A0A;
  border: 2px solid #F10A0A;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
main .sixth-section .content .info-card .info .round-button:hover {
  background: none;
  color: #F10A0A;
  transition: 0.5s;
}
main .sixth-section .content .side-image {
  width: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .sixth-section .content .side-image .image-card {
  width: 500px;
  height: 500px;
  position: relative;
}
main .sixth-section .content .side-image .image-card .info {
  padding: 2rem;
  gap: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  height: 100%;
  width: 100%;
}
main .sixth-section .content .side-image .image-card .info .title {
  width: 100%;
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
main .sixth-section .content .side-image .image-card .info .squaredish-button {
  font-weight: lighter;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-color: #1093B5;
  border: 2px solid #1093B5;
  color: white;
  font-size: 0.85rem;
  text-decoration: none;
  text-transform: capitalize;
}
main .sixth-section .content .side-image .image-card .info .squaredish-button:hover {
  background: none;
  transition: 0.5s;
  background-color: #06a9d2;
  border: 2px solid #06a9d2;
}
main .sixth-section .content .side-image .image-card .background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}
main .sixth-section .content .side-image .image-card .background-image img {
  object-fit: cover;
}
main .sixth-section .content .background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}
main .sixth-section .content .background-image img {
  object-fit: cover;
}

footer .footer-container {
  background-color: #3357F8;
  padding: 1.875rem 0rem 3.125rem 0rem;
}
footer .footer-container .footer-content {
  max-width: 1366px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-container .footer-content .brand-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  width: 215px;
}
footer .footer-container .footer-content .brand-info .brand-logo {
  height: 6.25rem;
}
footer .footer-container .footer-content .brand-info p {
  color: white;
  font-size: 0.75rem;
}
footer .footer-container .footer-content .footer-links {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  width: 50%;
}
footer .footer-container .footer-content .footer-links .link {
  width: 100%;
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
footer .footer-container .footer-content .social-media {
  display: flex;
  gap: 2rem;
}
footer .footer-container .footer-content .social-media .social-media-icon {
  height: 1.375rem;
}
footer .legal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a8a8a8;
  gap: 2rem;
  padding: 10px;
}
footer .legal-container a {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

@media (max-width: 1200px) {
  header {
    padding: 1.5rem;
  }
  header .logo-container {
    min-width: 4.25rem;
  }

  main .third-section .content {
    flex-direction: column;
    padding: 3rem;
  }
  main .third-section .content .side-video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  main .third-section .content .info {
    width: 100%;
    max-width: 550px;
  }
}
@media (max-width: 1000px) {
  header {
    flex-direction: column;
    height: auto;
  }
  header .nav-bar {
    align-items: center;
  }

  main .fifth-section .content {
    padding: 0;
  }
}
@media (max-width: 750px) {
  header {
    padding-left: 0;
    padding-right: 0;
  }
  header .nav-bar {
    width: 100%;
  }
  header .nav-bar .menu-desktop {
    display: none;
  }
  header .nav-bar .menu-mobile {
    display: block;
    width: 100%;
  }
  header .nav-bar .menu-title {
    display: block;
    background: #dddddd;
    padding: 1rem;
    width: 100%;
    border: none;
  }
  header .nav-bar .menu {
    transition: 1s;
    display: none;
    grid-template-columns: auto auto;
    padding: 1rem 0;
  }
  header .nav-bar .menu .menu-button {
    text-align: center;
  }

  main .main-section {
    flex-direction: column;
  }
  main .main-section .blue-section {
    width: 100%;
  }
  main .main-section .form-container {
    width: 100%;
  }
  main .main-section .form-container form {
    gap: 1.5rem;
  }
  main .main-section .form-container form input[type=text], main .main-section .form-container form input[type=date], main .main-section .form-container form textarea, main .main-section .form-container form select {
    font-size: 1.2rem;
    padding: 1rem;
  }
  main .main-section .form-container form .terms-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
  }
  main .main-section .form-container form .terms-container input {
    height: 1.5rem;
    width: 1.5rem;
  }
  main .second-section .content {
    flex-direction: column;
  }
  main .second-section .content .info {
    width: 100%;
  }
  main .second-section .content .side-image {
    width: 100%;
  }
  main .third-section .content .side-video {
    scale: 0.8;
  }
  main .fourth-section .content {
    flex-direction: column;
  }
  main .fourth-section .content .info {
    width: 100%;
  }
  main .fourth-section .content .side-image {
    width: 100%;
  }
  main .fifth-section .content {
    flex-direction: column;
    padding: 2rem;
  }
  main .sixth-section .content {
    flex-direction: column;
    padding: 2rem;
  }
  main .sixth-section .content .side-image {
    width: 100%;
  }
  main .sixth-section .content .side-image .image-card .info .squaredish-button {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
  }

  footer .footer-container .footer-content {
    flex-direction: column;
    gap: 2rem;
  }
  footer .footer-container .footer-content .brand-info {
    align-items: center;
  }
}

/*# sourceMappingURL=home.css.map */
